{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f242d;
}

.social-icon a {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    background: transparent;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
    margin: 0 8px;
    z-index: 1;
    text-align: center;
    line-height: 45px;
    transition: 3s;
}

.social-icon a:hover {
    background: #0ef;
    transform: rotate(145deg);
    box-shadow: 0 0 5px #0ef, 0 0 10px #0ef;
}

.social-icon a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: #929498;
    z-index: -1;
}

.social-icon a i {
    font-size: 18px;
    color: #000;
    transition: .3s;
}

.social-icon a:hover i {
    transform: rotate(215deg);
    color: #0ef;
}

.container {
    text-align: center;
    position: absolute;
    left: 800px%;
    top: 42%;
    max-width: 800px;
}

h1 {
    font-size: 300%;
    color: #fff;
}

p {
    font-size: 100;
    color: #fff;
}

/* BREAKPOINTS */
@media (max-width: 500px) {
    .container {
        text-align: center;
        position: absolute;
        left: center;
        top: 30%;
        max-width: 350px;
    }
    
    h1 {
        font-size: 160%;
    }
    
    p {
        font-size: 70%;
    }
}
